{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

		<title>BeerVector</title>

		<!-- Loading third party fonts -->
		<!--<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css"> -->
		<!--<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://use.fontawesome.com/d3a17e6b80.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rating-input/0.4.0/bootstrap-rating-input.min.js"></script>



		<!-- Loading main css file -->
		<link rel="stylesheet" href="{% static 'review.css' %}">
    <link rel="stylesheet" href="{% static './rankings/css/star-rating.css' %}">

		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><i style="font-size: 30px; color: #E75926;" class="fa fa-beer" aria-hidden="true"></i> BeerVector</a>
						<!--<input type="text" name="search" placeholder="Search.."> -->
        </div>

        <!--
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Log In</a></li>
          </ul>
        </div>--><!--/.nav-collapse -->
      </div>
    </nav>



            <br />
            <br />
        <div class = "col-md-12">
			<main class="main-content">
				<div class="container">
					<div class="page">



                         <ol class="breadcrumb">
                           <li><a href="#">Rankings</a></li>
                           <li class="active">Product</li>
                         </ol>

                        <br />
                        <br />


						<div class="product-list row" id="productview">
              <div class="row">
							<div class="product col-md-4">

    								<a href="#">
    									<figure class="product-poster"><img src="{% static 'products_img/stella.jpg' %}" alt="#"></figure>

    								</a>

								<!--<p>Belgian</p> -->

							</div>

              <div class="col-md-4">
                  <div class="product-title" style="text-align: left; margin-left: 30px">Stella Artois</div><br />

                  <div class="star-rating" title="Rated 3.7 out of 5"><span style="width:74%"><strong class="rating">3.70</strong> out of 5</span></div> (268 reviews)

                  <div style="margin-left: 30px">
                      <br />

                      <p> <strong>Style: </strong>  Lager </p>
                      <p> <strong>Brewery: </strong> Belgium </p>
                      <p> <strong>ABV: </strong> 11% </p>
                      <p> <strong>Description: </strong> Belgian Beer </p>

                      <br />
                      <button class="btn btn-primary" data-toggle="collapse" data-target="#newreview">Add Review</button>
                  </div>
              </div>

              <!-- ADD NEWREVIEW -->
              <div id="newreview" class="collapse col-md-4" style="background-color: #F8F6F6; padding: 20px">
                <button type="button" class="close" data-toggle="collapse" data-target="#newreview">&times;</button>
                <h2>Your Review</h2>
                    <form>
                        <label for="starating">Please Rate:  </label> <br/>
                            <div class="rating">
                                    <input type="radio" id="star5" name="rating" value="5" /> <label class = "full" for="star5"> </label>
                                    <input type="radio" id="star4" name="rating" value="4"/> <label class = "full" for="star4"> </label>
                                    <input type="radio" id="star3" name="rating" value="3"/><label class = "full" for="star3"></label>
                                    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2"></label>
                                    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1"></label>
                            </div> <br/> <br/> <br/>

                        <label for="username">Username:</label>
                            <input type="text" placeholder="" id="username" class="form-control"/> <br/>


                        <label for="comment">Comment (Optional): </label>
                            <textarea class="form-control" rows="3" id="comment" class="form-control"></textarea> <br/>

                            <button>Submit</button>
                    </form>
              </div>

            </div>

						</div> <!-- .product-list -->
            <div>
                 <h2>Reviews </h2>
                <hr />
            </div>

            <div class = "row">
              <fieldset style="padding: 20px">
                <div class="col-md-3">
                  <p><div class="star-rating" title="Rated 4.00 out of 5"><span style="width:80%"><strong class="rating">4.00</strong> out of 5</span></div></p>
                  <p><strong>By: </strong>Anonymous</p>
                  <p><strong>Posted: </strong>08/04/2017</p>
                </div>
                <div class="col-md-8" >
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum dapibus faucibus. Sed nec massa ante. Etiam quis tortor non lacus aliquet efficitur non varius lorem. Integer sit amet tincidunt nulla. Nunc vel sem vitae nisi laoreet pellentesque. Integer vulputate justo in blandit semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vel nibh in consectetur. Mauris ut arcu ligula.
                  </p>
                </div>
              </fieldset>
            </div>

            <br />

            <div class = "row">
              <fieldset style="padding: 20px">
                <div class="col-md-3">
                  <p><div class="star-rating" title="Rated 2.00 out of 5"><span style="width:40%"><strong class="rating">2.00</strong> out of 5</span></div></p>
                  <p><strong>By: </strong>Jacob</p>
                  <p><strong>Posted: </strong>03/11/2015</p>
                </div>
                <div class="col-md-8">
                  <p>
                      Vivamus feugiat efficitur tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec eu efficitur quam. Ut vulputate eu ex a tincidunt. Nunc sed dictum tellus. Morbi ac lorem a libero ultrices tristique id vel dui. Morbi et dolor risus.
                  </p>
                </div>
              </fieldset>
            </div>

            <br />

            <div class = "row">
              <fieldset style="padding: 20px">
                <div class="col-md-3">
                  <p><div class="star-rating" title="Rated 5.00 out of 5"><span style="width:100%"><strong class="rating">5.00</strong> out of 5</span></div></p>
                  <p><strong>By: </strong>Kate</p>
                  <p><strong>Posted: </strong>12/04/2011</p>
                </div>
                <div class="col-md-8">
                  <p>
                      Suspendisse a faucibus sapien. Curabitur ornare aliquet luctus. Praesent mattis tincidunt lectus vel consequat. Fusce blandit felis et leo tincidunt, sit amet mollis diam feugiat. Etiam mattis tincidunt mauris sit amet ullamcorper. Nullam eget varius elit. Donec eleifend aliquam ipsum non commodo. Praesent feugiat lobortis lorem ut fermentum. Fusce vulputate elit aliquet, fermentum neque eu, tincidunt velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                  </p>
                </div>
              </fieldset>
            </div>

            <nav aria-label="...">
              <ul class="pager">
                <li class="next"><a href="#">Older <span aria-hidden="true">&rarr;</span></a></li>
                <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Newer</a></li>
              </ul>
            </nav>



					</div>
				</div> <!-- .container -->
			</main>
            </div>


		<!-- Default snippet for navigation -->
			<script src="https://www.cse.ust.hk/~rossiter/dating_web_site.js"></script>
	</body>

</html>
