{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

		<title>BeerVector</title>

		<!-- Loading third party fonts -->
		<!--<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css"> -->
		<!--<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://use.fontawesome.com/d3a17e6b80.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- Loading main css file -->
		<link rel="stylesheet" href="{% static './rankings/css/review.css' %}">

		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body >

  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><i style="font-size: 30px; color: #E75926;" class="fa fa-beer" aria-hidden="true"></i> BeerVector</a>
						<!--<input type="text" name="search" placeholder="Search.."> -->
        </div>

        <!--
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Log In</a></li>
          </ul>
        </div>--><!--/.nav-collapse -->
      </div>
    </nav>





    <div class = "col-md-12" id="rev">


					<h1>Ranking - All Reviews</h1>

			<!--
				<div class="intro-body">
			    <div class="container">
			      <div class="row">
			        <div class="col-md-12">
			          <h1>Beer<span class="brand-heading">Vector</span></h1>
			          <p class="intro-text">Find and rate from worst to the best of beets</p>
			        </div>
			       </div>
					 </div>
				 </div> -->

			<main class="main-content">
				<div class="container">
					<div class="page">






                        <div class="col-md-offset-10">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add New Product</button>
                        </div>

                           <!-- Add New Product Modal -->
                          <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                                      <!-- Modal content-->
                                <div class="modal-content" style="background-color: #FCFCFC">
                                    <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <div class="form-group">
                                              <form class="register-form" action="" method="post">
                                                <h3 style="text-align: center">Add New Product</h3>
																								{% csrf_token %}
																								{{forms.as_p}}


																								<!--
                                                <label for="beername">Beer name:</label>
                                                    <input type="text" placeholder="" id="beername" class="form-control"/> <br/>

																								<label for="beer_avatar">Beer Image: </label>
																									<input class="beer_avatar" type="file" id="beer_avatar" name="beer_avatar">


																									<img class="beer_preview" id="preview"> <br />


																								<label for="description">Description:</label>
		                                                    <textarea class="form-control" rows="2" id="description" class="form-control"></textarea><br/>



																								<label for="brewery">Brewery: </label>
		                                                <select class="form-control" id="brewery" >
																														{% for brewery in breweries %}
			                                                        <option> {{brewery}} </option>
																														{% endfor %}

		                                                      </select>
		                                                  <br/>

																								<label for="sel1">Select style: </label>
                                                      <select class="form-control" id="sel1" >

																												<option>Ale</option>
																												<option>Lager</option>
																												<option>Stout</option>
																												<option>IPA</option>

                                                      </select>
                                                  <br/>

                                                <label for="abv">ABV:</label>
                                                    <input type="text" placeholder="" id="abv" class="form-control"/><br/>-->


                                                <button type = "submit">Add</button>

                                              </form>
                                            </div>
                                    </div>
                                </div>

                            </div>
                         </div>


                         <!-- Sorter /Filter -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#productview">Highest Rated</a></li>
                            <li><a data-toggle="tab" href="#productview">Recently Reviewed</a></li>
                        </ul>

                        <br />
                        <br />


						<div class="product-list" id="productview">

							{% if all_beers %}

										{% for t_ratings, beer, t_ranking in riterator %}
												<div class="product">
													<a href = "{% url 'view-product' beer.id %}">
														<figure class="product-poster"><img style="height: 350px" src="{% static 'products_img/any_beer.jpg' %}" alt="#"></figure>
														<div class="product-title"> {{beer.name}} </div>
													</a>

													<div class="star-rating" title="Rated 3.00 out of 5"><span style="width:{{t_ranking}}%"><strong class="rating">3.00</strong> out of 5</span></div>
													{% if t_ratings %}
															{% if t_ratings == 1 %}
				                    			({{t_ratings}} review)
															{% else %}
																	({{t_ratings}} reviews)
															{% endif %}
				                  {% else %}
				                    (No Review Yet)
				                  {% endif %}
												</div>
										{% endfor %}

							{% else %}
								<p style="text-align: center">No Item to Display</p>
							{% endif %}

							<!--

							<div class="product">
								<a onclick = loadDoc()>
									<figure class="product-poster"><img src="{% static 'products_img/stella.jpg' %}" alt="#"></figure>
									<div class="product-title">Stella Artois</div>
								</a>
								<div class="star-rating" title="Rated 4.00 out of 5"><span style="width:80%"><strong class="rating">4.00</strong> out of 5</span></div> (268 reviews)
							</div>


							{% for beer in all_beers %}
							<div class="product">
								<a href="#">
									<figure class="product-poster"><img style="height: 250px" src="{% static 'products_img/heineken.jpg' %}" alt="#"></figure>
									<div class="product-title"> {{beer}}</div>
								</a>
								<div class="star-rating" title="Rated 3.00 out of 5"><span style="width:60%"><strong class="rating">3.00</strong> out of 5</span></div> (1,738 reviews)
							</div>
							{% endfor %}



							<div class="product">
								<a href="#">
									<figure class="product-poster"><img src="{% static 'products_img/sam_adams.jpg' %}" alt="#"></figure>
									<div class="product-title">Samuel Adams</div>
								</a>


				                    <div class="star-rating" title="Rated 1.00 out of 5"><span style="width:20%"><strong class="rating">1.00</strong> out of 5</span></div> (14 reviews)

							</div>

							<div class="product">
								<a href="#">
									<figure class="product-poster"><img src="{% static 'products_img/budweiser.jpg' %}" alt="#"></figure>
									<div class="product-title">Budweiser</div>
								</a>



									<div class="star-rating" title="Rated 2.00 out of 5"><span style="width:40%"><strong class="rating">2.00</strong> out of 5</span></div> (59 reviews)

							</div>

							<div class="product">
								<a href="#">
									<figure class="product-poster"><img src="{% static 'products_img/guinness.jpg' %}" alt="#"></figure>
									<div class="product-title">Guinness</div>
								</a>



								<div class="star-rating" title="Rated 5.00 out of 5"><span style="width:100%"><strong class="rating">5.00</strong> out of 5</span></div> (1 review)

							</div>

							<div class="product">
								<a href="#">
									<figure class="product-poster"><img src="{% static 'products_img/coors_light.jpg' %}" alt="#"></figure>
									<div class="product-title">Coors Light</div>
								</a>



								<div class="star-rating" title="Rated 2.00 out of 5"><span style="width:40%"><strong class="rating">2.00</strong> out of 5</span></div> (96 reviews)
							</div>

							<div class="product">
								<a href="#">
									<figure class="product-poster"><img src="{% static 'products_img/blue_moon.jpg' %}" alt="#"></figure>
									<div class="product-title">Blue Moon</div>
								</a>



								<div class="star-rating" title="Rated 2.5 out of 5"><span style="width:50%"><strong class="rating">2.5.00</strong> out of 5</span></div> (703 reviews)
							</div>

							<div class="product">
								<a href="#">
									<figure class="product-poster"><img src="{% static 'products_img/corona.jpg' %}" alt="#"></figure>
									<div class="product-title">Corona Extra</div>
								</a>



								<div class="star-rating" title="Rated 3.00 out of 5"><span style="width:60%"><strong class="rating">3.00</strong> out of 5</span></div> (4 reviews)
							</div> -->
						</div> <!-- .product-list -->


					</div>
				</div> <!-- .container -->
			</main>

			<footer>
	        <div class="pagination col-md-4 col-md-offset-4">
	          <a href="#" class="page-number prev"><i class="fa fa-angle-double-left"></i></a>
								<a href="#" class="page-number prev"><i class="fa fa-angle-left"></i></a>
											{% for p in beer_pages %}
											<span class="page-number current">{{p}}</span>
											{% endfor %}
								<!-- <a href="#" class="page-number">2</a> -->
								<a href="#" class="page-number next"><i class="fa fa-angle-right"></i></a>
	          <a href="#" class="page-number next"><i class="fa fa-angle-double-right"></i></a>

	        </div>
	    </footer>
            </div>


		<!-- Default snippet for navigation -->
			<script src="https://www.cse.ust.hk/~rossiter/dating_web_site.js"></script>
			<script>
						function loadDoc() {
						  var xhttp = new XMLHttpRequest();
						  xhttp.onreadystatechange = function() {
						    if (this.readyState == 4 && this.status == 200) {
						      document.getElementById("rev").innerHTML =
						      this.responseText;
						    }
						  };
						  xhttp.open("GET", "/view-product", true);
						  xhttp.send();
						}
			</script>
	</body>


</html>
